.Ceshi_box {
  width: 500px;
  height: 500px;
  background-color: red;
  position: absolute;
}
.Ceshi_app {
  display: flex;
  justify-content: space-between;
}
.Ceshi_center {
  flex: 1;
}
.Ceshi_right {
  width: 200px;
}
.Ceshi_li {
  /* display: block; */
  cursor: move;
  background: #f4f6fc;
  border: 1px solid red;
  width: 60px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  position: absolute;
  cursor: pointer;
  margin: 10px;
}
.Ceshi_center {
  border: 1px solid #e4e7ed;
}
.Ceshi_left {
  width: 300px;
  border: 2px solid #e4e7ed;
  height: 500px;
}
.Ceshi_right {
  border: 1px solid #e4e7ed;
  width: 400px;
}
.ant-row {
  cursor: pointer;
}
.Ceshi_center_Header {
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #e4e7ed;
  margin-bottom: 10px;
}
.Ceshi_center_btn {
  margin-right: 5px;
}
